@font-face { 
    font-family: "OpenSans Light"; 
    src: url("../assets/fonts/OpenSans-Light.eot"), url("../assets/fonts/OpenSans-Light.ttf");
    font-weight: 100;
}

html, body {
	height: 100%;
}

body {
	font-family: "OpenSans Light", sans-serif;
	margin: 0;
	line-height: 170%;
}

a, a:visited, .lv2-content a.normallink, .lv2-content a.normallink:visited {
	color: rgba(100,100,255,0.7);
}



#logo{
	display: block;
	height: 175px;
	background: url(images/luvi.png) no-repeat center center;
	background-size: 170px auto;
	margin: 0 auto;
	color: transparent;
}

#sidebar a, #sidebar a:visited, .nolist a, .nolist a:visited, a h2, a h3,
.lv2-content a, .lv2-content a:visited {
	color: black;
	text-decoration: none;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

pre {
	font-size: 130%;
	padding: 5px 10px 5px 25px;
	margin: 25px auto;
}


p {
	text-align: justify;
}

#sidebar {
	display: block;
	position: fixed;
	background: rgb(245,245,245);
	width: 240px;
	min-height: 90%;
	height: calc(100% - 60px);
	overflow-y: auto;
	overflow-x: hidden;
	top: 30px;
	left: 20px;
	font-size: 11pt;
	font-weight: lighter;
	border-radius: 5px;
	transition: 0.3s;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
	#sidebar h3 {
		margin: 5px auto 0;
	}
	#sidebar a {
		display: block;
		padding: 5px 10px;
	}
	#sidebar a:hover {
		background: rgb(240,240,240);
		transition: 0.3s;
	}

#content {
	display: block;
	padding: 5px 25px;
	margin-left: 265px;
	overflow-x: hidden;
}

.maintitle h1 {
	font-size: 500%; 
	margin-bottom: 70px;
}
.maintitle h2 {
	text-align: center; 
	font-size: 22pt;
	text-transform: uppercase;
	font-weight: lighter;
	line-height: 150%;
	color: rgb(170,170,170);
}



.grayfont {
	color: rgb(150,150,150);
}

.textcenter {
	text-align: center;
    display: block;
}

.comment {
	color: rgba(100,100,255,0.6);
}


.pregroup {
	background: rgb(245,245,245);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
	display: block;
	margin: 25px auto;
	overflow-x: auto;
	border-radius: 3px;
	text-align: left;
}
.pregroup pre {
	margin: 0;
}
.pregroup.inlinepre {
	width: 47%; 
	display: inline-block; 
	vertical-align: top; 
	margin-left: 10px;
}


.nolist {
	margin-top: -2px;
	margin-bottom: 20px;
	padding-left: 0;
}
	.nolist .nolist {
		margin-top: 0;
		padding-left: 0;
		font-size: 10pt;
	}
	.nolist .nolist li {
		padding-left: 35px;
		line-height: 160%;
		color: rgb(80,80,80);
	}

.nolist li {
	list-style: none;
	padding-left: 15px;
}

.lv2-content {
	margin-left: 30px;
}


.dirtree {
	background: rgb(250,250,250);
	margin: 30px auto;
	padding: 5px;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	width: 95%;
	max-width: 650px;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}
.dirtree ul {
	padding-left: 25px;
	font-weight: bolder;
	margin-bottom: 10px;
	list-style: none;
}
	.dirtree ul li {
		margin-right: 10px;
	}
.dirtree .comment {
	font-weight: normal;
}
.treefile {
	list-style: none;
	font-weight: normal;
}



.obs {
	background: rgba(100,100,255,0.1);
	padding: 10px 15px;
	border-radius: 5px;
	border-bottom: 3px solid rgba(80,80,240,0.1);
}
	.obs a, .obs a:visited {
		font-weight: bolder;
	}


@media (max-width: 700px) {
	#sidebar {
		display: none;
	}

	#content {
		margin: 0;
	}

	.pregroup.inlinepre {
		width: 95%;
		margin-left: auto;
	}
}
